{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'star.css' %}">

<br>
{{ msg }}
<h1>Rifa {{ raffle.title }}</h1>
<br>
{{ raffle.category.name }} <br>
{{ raffle.desc }} <br>
Criado por <a href="{% url 'profile' raffle.author.id %}">{{ raffle.author.first_name }}</a>

<span class="fa fa-star {% if score >= 1 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 2 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 3 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 4 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 5 %} checked {% endif %}"></span>

<br>

Escolha um número:
{% for i in range %}
    {% if forloop.first %}<div class="w3-row">{% endif %}
    <div class="w3-col m1">
            {% if i not in choices_num %}
                <div class="w3-green">
                    {% if user.is_authenticated %}
                        <a href="{% url 'choose' raffle.id i %}">{{ i }}</a>
                    {% else %}
                        {{ i }}
                    {% endif %}
                </div>
            {% else %}
                <div class="w3-red">{{ i }}</div>
            {% endif %}
        </div>
    {% if forloop.counter|divisibleby:10 %}</div><div class="w3-row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}


{% endblock %}