{% extends "base.html" %}


{% block content %}


<br>
{{ msg }}
<h1>Rifa {{ raffle.title }}</h1>
<br>
{{ raffle.category.name }} <br>
{{ raffle.desc }} <br>
Criado por <a href="{% url 'profile' raffle.author.id %}">{{ raffle.author.first_name }}</a>

<span class="fa fa-star {% if score >= 1 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 2 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 3 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 4 %} checked {% endif %}"></span>
<span class="fa fa-star {% if score >= 5 %} checked {% endif %}"></span>

<br>
{% if user.is_authenticated and user == raffle.author %}
    <a href="{% url 'raffle_image' raffle.id %}" >Editar imagens</a>
    <br>
{% endif %}

<div class="w3-content w3-center" style="max-width:300px">
    {% for img in raffle.images.all %}
        <img class="mySlides" src="{{ img.img.url }}" style="width:300px">
    {% endfor %}
</div>

<div class="w3-center">
    <div class="w3-section">
        <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
        <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
    </div>
    {% for img in raffle.images.all %}
        <button class="w3-button demo" onclick="currentDiv({{ forloop.counter }})">{{ forloop.counter }}</button> 
    {% endfor %}
</div>
      

<br>
Escolha um número:
{% for i in range %}
    {% if forloop.first %}<div class="w3-row">{% endif %}
    <div class="w3-col m1">
            {% if i not in choices_num %}
                <div class="w3-green">
                    {% if user.is_authenticated %}
                        <a href="{% url 'choose' raffle.id i %}">{{ i }}</a>
                    {% else %}
                        {{ i }}
                    {% endif %}
                </div>
            {% else %}
                <div class="w3-red">{{ i }}</div>
            {% endif %}
        </div>
    {% if forloop.counter|divisibleby:10 %}</div><div class="w3-row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}

<br>

Pergunte ao autor da rifa:
<form  method="POST" action="{% url 'ask' raffle.id  %}">
    {% csrf_token %}
    <input type="text" name="question" /> <button type="submit">Perguntar</button>
</form>
<br>

{% for q in raffle.questions.all %}
    {{q.user.first_name}} perguntou: <br> 
    {{q.question}} <br>
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if raffle.author == user and q.answer is None %}
        <form  method="POST" action="{% url 'answer' q.id  %}">
            {% csrf_token %}
            <input type="text" name="answer" /> <button type="submit">Responder</button>
        </form>
    {% endif %}
    {{q.answer|default:""}}
    <br><br>
{% endfor %}

{% endblock %}